table {
  border-collapse: collapse;
}

#tableContent {
  display: flex;
  justify-content: center;
}

td {
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid black;
  font-size: 32px;
}

a:link {
  color: #324a7c;
  font-style: italic;
}

a:visited {
  color: #bc4ea1;
  font-style: normal;
}

a:hover {
  color: blueviolet;
  font-style: italic;
}

a:active {
  color: chocolate;
  font-style: normal;
}

body {
  background-image: url('assets/backg.jpg');
  background-repeat: repeat;
}

section h2 + ol {
  color: #0f4f66;
  list-style-type: lower-alpha;
}

#kontener {
  display: flex;
  justify-content: center;
}

#szoveg {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-style: ridge;
  padding: 8px;
  text-shadow: 0.1px 0.2px black;
  background-color: #d6f1f5;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

h1 {
  font-family:
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline;
  font-style: italic;
}

#nEsMValasztasa {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}

#gombDiv {
  text-align: center;
}

#ujrakezdButton {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 6px;
  font-size: 17px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

td {
  user-select: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

td:hover {
  background-color: #f0f8ff;
}

#ujrakezdButton:hover {
  background-color: #f0f8ff;
}
